<h1>Appointments</h1>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Patient name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= l(appointment.appointment_date, format: :long) %></td>
        <td><%= appointment.patient_name %></td>
        <td>
          <%= link_to 'Edit', edit_appointment_path(appointment), class: 'btn btn-sm btn-primary' %>
          <%= link_to 'Delete', appointment_path(appointment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination">
  <%= paginate @appointments %>
</div>

<%= link_to 'New Appointment', new_appointment_path, class: 'btn btn-success' %>
