<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Patient Management</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <% if user_signed_in? %>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% %w(patients appointments).each do |controller| %>
            <% is_current_controller = controller_name == controller %>
            <li class="nav-item">
              <%= link_to "#{controller.titleize}", send("#{controller}_path"), class: "nav-link #{ 'active' if is_current_controller && action_name == 'index' }" %>
            </li>
          <% end %>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <span class="navbar-text">
              Logged in as: <span class="badge bg-dark text-white"><%= current_user.name %></span>
            </span>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-danger btn-sm ms-2' %>
          </li>
          <li class="nav-item">
            <span class="navbar-text">
              <small class="badge bg-warning text-dark">
                BETA v<%= PatientManagement::Application::VERSION %>
              </small>
            </span>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>